{%extends 'base.html'%}
{%load static%}
{%load bootstrap4%}
{%load crispy_forms_tags%}
{%block content%}
{%include 'navbar.html'%}
<div class="container mt-5">


    <!--Section: Content-->
    
    <section class="dark-grey-text">
      <a class="btn btn" style="background-color: transparent; width: 300px; font-size: 30px; border-radius: 50px;" data-toggle="modal" data-target="#edit"><strong>CREATE YOUR POST</strong></a>

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md ">
            <div class="modal-content">
                <form action="" method="POST" enctype="multipart/form-data" style="text-align: center; color: red;width: 350px;position: relative; left: 80px;">
                    {% csrf_token%}
                    {{form|crispy}}
                    <br>
                   <button type="submit" class="btn btn-primary btn-sm"> SUBMIT</button>
                </form>
            </div>
        </div>
    </div> 
      <!-- Section heading -->
      <h2 class="text-center font-weight-bold mb-4 pb-2">CURRENTLY HAPPENING</h2>
      <!-- Section description -->
      <p class="text-center mx-auto w-responsive mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
  
        <!-- Grid row -->
      <div class="row align-items-center">
  
        <!-- Grid column -->
        {%for post in posts%}
        <div class="col-lg-5 col-xl-4">
  
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
            <img class="img-fluid" src="{{post.image.url}}" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <br><br>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
       
        <div class="col-lg-7 col-xl-8">
  
          <!-- Post title -->
          <h4 class="font-weight-bold mb-3"><strong>{{post.name}}</strong></h4>
          <!-- Excerpt -->
          <p class="dark-grey-text">{{post.description}}</p>
          <!-- Post data -->
          <p>By: <a class="font-weight-bold">{{user}}</a><p>{{post.pub_date|timesince}}</p>
          <!-- Read more button -->
         
         
        </div>
        
        {%endfor%}
        <!-- Grid column -->
   
      </div>
      <!-- Grid row -->
  
      <hr class="my-5">
     
    </section>
    
    <!--Section: Content-->
  
  
  </div>
{%endblock%}